{% assign templatePath = "includes/SiteHeaderLayout.liquid" | get_templatepath %}
{% include templatePath
  , Model: Model %}

<main id="main" class="site-main clean-n-simple">
  <section>
    <div class="main-content grid-container">
      {%- if Model.PageTitle != null -%}
        <h1 class="standard-width" {{ CmsHelper.EditAttributes("PageTitle") }}>{{ Model.PageTitle }}</h1>
      {%- endif -%}
      {{ Property.For(Model=Model.MainContentArea
        , PropertyName = "MainContentArea"
        , HasContainer=false
        , UseItemContainer=false) }}

      <div id="resourcesection" class="resource-list standard-width">
        {% assign templatePath = "includes/events/eventHeader.liquid" | get_templatepath %}
        {% include templatePath
          , Model: Model %}

        {% assign templatePath = "includes/events/EventListView.liquid" | get_templatepath %}
        {% include templatePath
          , Model: Model.ExtendedPageProperties["PageListingModel"] %}
      </div>

    </div>
    {% assign templatePath = "includes/RelatedLinks.liquid" | get_templatepath %}
    {% include templatePath
      , Model: Model.RelatedLinks %}
  </section>
</main>

{% assign templatePath = "includes/footer.liquid" | get_templatepath %}
{% include templatePath
  , Model: Model %}
