.footer-grid section section.section, nav.menu-bar,div[data-items="primary"]{
    max-width: 1290px;
    display: block;
    margin: 0 auto;
}

main section div.main-content.grid-container, div.medialistingblock-socialmedia ul.image-list.social-media{
    max-width: 1290px;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

nav ul{
    z-index: 3;
}

main.site-main .main-content > .hero-section > .entry-header {
    z-index: 2;
}